<header class="header">
    <span class="hamburger" ng-click="vm.showNavMenu = !vm.showNavMenu; vm.showMobileMenu = !vm.showMobileMenu">&#x2630;</span>
    <span class="app-title">ACME Enterprise SAAS App</span> <span class="org-divider"></span> <span class="org-name">Widgets LLC</span>
    <a href="../index.html" class="exit-button" translate="ea.TOP_NAV.BACK_TO_PORTFOLIO_BUTTON"></a>
</header>
<nav class="nav-menu" ng-class="{'mobile-menu-activated': vm.showMobileMenu}">
    <ul>
        <li ng-click="vm.selectMenuItem('dashboards')" ng-class="{'selected': vm.currentMenu === 'dashboards'}"><a ui-sref="dashboards" translate="ea.MAIN_NAV.DASHBOARDS"></a></li>
        <li ng-click="vm.selectMenuItem('reports')" ng-class="{'selected': vm.currentMenu === 'reports'}"><a ui-sref="reports" translate="ea.MAIN_NAV.REPORTS"></a></li>
        <li ng-click="vm.selectMenuItem('settings')" ng-class="{'selected': vm.currentMenu === 'settings'}"><a ui-sref="settings" translate="ea.MAIN_NAV.SETTINGS"></a></li>
    </ul>
</nav>
<main class="main-content">
    <ui-view></ui-view>
</main>
<footer class="footer">
    <span class="legalese">&copy;2019 &mdash; Marshall Humphries &mdash; v1.0.0</span>
</footer>
