$primary-brand-color: #2d74da;
$highlight-color: #52b9e9;
$body-background-color: #fefefe;
$text-color: #434243;
$text-color-inverse: $body-background-color;
$dark-background-color: #464646;
$title-bar-background-color: #121414;
$table-stripe: #ddd;
$lighter-highlight: #85bdd2;
$confirm-green: #2c7655;
$shadow: #0e587e;


