@import 'app-colors';


html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

h2 {
    font-size: 1.3em;
    font-weight: 700;
}

.enterprise-app {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.main-container {
    display: grid;
    grid-template-columns: minmax(150px, 20%) auto;
    grid-template-rows: 3em auto 2em;
    justify-content: stretch;
    grid-template-areas: "header header" "nav main" "footer footer";
    height: 100vh;

    &.hide-menu {
        grid-template-columns: 0 auto;
        grid-template-rows: 3em auto 2em;
        justify-content: stretch;
        grid-template-areas: "header header" "nav main" "footer footer";
    }
}

.header {
    grid-area: header;
    background-color: $title-bar-background-color;
    color: $text-color-inverse;
    margin: 0;
    padding: 0 2em;
    display: grid;
    grid-template-columns: 3em 12.5em 1em 15em auto;
    grid-template-rows: auto;
    grid-template-areas: "hamburger-button app-title org-divider org-name exit-button";
    grid-column-gap: 0;
    grid-row-gap: 0;
    justify-items: start;
    align-items: center;
}

.hamburger {
    grid-area: hamburger-button;
    font-size: 2em;
    display: inline-block;
    margin-right: 1em;
}

.app-title {
    grid-area: app-title;
    display: inline-block;
}

.org-divider {
    grid-area: org-divider;
    display: inline-block;
    font-size: 0.9em;

    &:before {
        content: " > ";
    }
}

.org-name {
    grid-area: org-name;
    display: inline-block;
}

.exit-button {
    grid-area: exit-button;
    justify-self: end;
    color: $highlight-color;
    padding: 0.25em 0.5em;
    transition: all 1s;

    &:visited, &:active {
        color: $highlight-color;
    }

    &:hover {
        background-color: $highlight-color;
        color: $title-bar-background-color;
        transition: all 1s;
    }
}

.exit-menu {
    display: none;
}

.nav-menu {
    grid-area: nav;
    background-color: $dark-background-color;
    margin: 0;
    border-right: 1px solid $body-background-color;
}

.main-content {
    grid-area: main;
    background-color: $body-background-color;
    color: $text-color;
    margin: 0;
    padding: 1em 2em;
    max-width: 100%;
    max-height: calc(100vh - 2em);
    overflow: auto;
}

.footer {
    grid-area: footer;
    background-color: $primary-brand-color;
    color: $text-color-inverse;
    line-height: 2em;
    margin: 0;
    display: flex;
    justify-content: center;

    .legalese {
        font-size: 0.9em;
    }
}

.nav-menu {
    ul {
        list-style-type: none;
        margin:0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            background-color: $dark-background-color;
            border-bottom: solid 1px $body-background-color;

            &.selected {
                background-color: $highlight-color;

                a, a:hover, a:visited {
                    color: $text-color;
                }
            }

            &:hover {
                background-color: $highlight-color;

                a, a:hover, a:visited {
                    color: $text-color;
                }
            }
            a, a:hover, a:visited {
                color: $text-color-inverse;
                text-decoration: none;
                font-weight: 700;
                display: inline-block;
                padding: 1em 2em;
                width: 100%;
                height: 100%;
            }
        }
    }
}

.screen-reader-only {
    position: absolute;
    height: 1px;
    width: 1px;
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .main-container {
        grid-template-columns: auto;
        grid-template-rows: 4.5em auto 2em;
        grid-template-areas: "header" "main" "footer";

        &.hide-menu {
            grid-template-columns: auto;
            grid-template-rows: 4.5em auto 2em;
            justify-content: stretch;
            grid-template-areas: "header" "main" "footer";
        }
    }

    .header {
        grid-template-columns: 5em auto;
        grid-template-rows: auto auto;
        grid-template-areas: "hamburger-button app-title" "hamburger-button org-name";
        grid-column-gap: 1em;
        justify-items: start;
        align-items: center;
    }

    .hamburger {
        font-size: 3em;
    }

    .org-divider {
        display: none;
    }

    .app-title {
        font-size: 1.25em;
    }

    .exit-button {
        display: none;
    }

    .exit-menu {
        display: block;
    }

    .nav-menu {
        position: absolute;
        left: 0;
        top: 4.5em;
        border-top: 2px solid $body-background-color;
        width: 100%;
        display: none;
        z-index: 100;

        &.mobile-menu-activated {
            display: block;
        }
    }
}
